.form-text{
        font-weight: bold;
}


.input{
    border: 1px solid $txtGrey;
    border-radius: 0.5em;
}

.input-submit{
	text-decoration: none;
    background-color: $bgBlue;
	color: $txtWhite;
	font-weight: bold;
	border-radius: 0.5em;
    border: 2px solid $bgBlue;

    &:hover{
        background-color: $txtWhite;
        border: 2px solid $bgBlue;
        color: $bgBlue;
    }
}