.form-label{
    display: inline-block;
    width: 7.5em;
}

.input{
    padding: 0.25em 0.5em;
    width: 20em;
    margin-bottom: 1em;
}

.input-text{
    margin-top: 1em;
}

.input-submit{
    margin-top: 1em;
	padding: 0.3125em 0.5em;
}
