/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 798px) {
	.header{
		width: 100%;
		position: relative;
		left: 0;
		top: 0;
		padding-bottom: 0.5em;
	}
	.site__title{
		display: block;
		font-size: 1.25em;
		margin: 0.1em auto;
		text-align: center;
	}

	.site__subtitle{
		display: block;
		text-align: center;
		font-size: 0.75em;
	}

	.menu__list{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.menu__list-item{
		width: 80%;
		border: 1px solid black;
		margin: 1em auto;
		border-radius: 0.5em;
		text-align: center;
	}

	.menu__list__link{
		width: 100%;
		border-radius: 0.5em;
		display: block;
		padding: 0.5em 0;
	}
}

/* Tablets, desktops and laptops ----------- */
@media only screen and (min-width : 799px) {
	.header{
		width: 100%;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 99;
	}

	.site__title{
	    font-size: 1.25em;
		display: inline-block;
		margin: 0.1em 0 0.1em 1em;
	}

	.site__link{
	    padding: 0.75em;
		display: inline-block;
	}

	.site__subtitle{
	    font-size: 0.75em;
		margin-left: 1em;
	}

	.menu__list{
		position: absolute;
		right: 0;
		top: 0;
		margin: 0 1em 0 0;
		padding: 0;
	}

	.menu__list__link{
	    font-size: 1.25em;
		display: inline-block;
		padding: 0.75em 1em;

	    &:hover{
	        z-index: 99;
	    }
	}

	.menu__list-item{
		display: inline-block;
	}
}
